<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">


    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_app"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.productActivity"></activity>
        <activity
            android:name=".Main8Activity"
            android:label="Ajouter une nouvelle tâche" />
        <activity
            android:name=".Main7Activity"
            android:label="Contacter par Tél/SMS" />
        <activity
            android:name=".Main6Activity"
            android:label="Takaful Mounacib"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main5Activity"
            android:label="Plan Imtiez"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Main4Activity"
            android:label="Contacter par tél/SMS"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Main3Activity"
            android:label="Contacter par mail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main2Activity"
            android:label="Takaful Tamouil"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>